.listProducts {
    width: 20vw;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /* flex-direction: row;
    flex-wrap: wrap; */
}


/* .imageList{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

h2 {
    display: block;
} */