.listProducts {
    width: 100%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}
ul {
    display: flex;
    flex-wrap: wrap;
}

h2 {
    display: block;
}

.imageList{
    margin: 10px;
}