<div class="last">
  <form action="/login" class="create-form">
    <div class="control-formulario">
      <h3>Únete a Trend Boutique</h3>
      <div class="input-wrapper">
        <input
          type="text"
          name="nombre"
          class="control wide-input"
          placeholder="Email"
        />
        <button type="submit" class="rectangle-button">Let's Go</button>
      </div>
    </div>
  </form>

  <section class="last-section">
    <div class="about">
      <h3>Acerca de Trend Boutique</h3>
      <div class="about-trend">
        <p>¿Quiénes somos?</p>
        <p>Trend Boutique Group</p>
      </div>
    </div>
  </section>

  <section class="last-section">
    <div class="help">
      <h3>Ayuda y Contacto</h3>
      <div class="help-trend">
        <p>Preguntas Frecuentes</p>
        <p>Teléfono (+57) 3123456789</p>
        <p>
          Póngase en contacto con el equipo de Trend Boutique: El departamento
          de atención al cliente está abierto para usted de lunes a sábado de 8
          a 18 horas.
        </p>
      </div>
    </div>
  </section>
</div>

<footer>
  <div class="terminos">
    <p>Términos y condiciones</p>
    <p class="space">|</p>
    <p>Política de Privacidad</p>
    <p class="space">|</p>
    <p>Cookies Settings</p>
    <p class="space"></p>
  </div>
</footer>
