
<header class="main-header">
  <div class="main-header-top-bar">
    <div>
      <img
        class="logo"
        src="/images/logo-trend-boutique.svg"
        alt="Logo Trend Boutique"
        style="width: 150px; height: 100px"
      />
    </div>
    <div class="search-bar">
      <button class="search-button" type="submit">
        <i class="fa-solid fa-magnifying-glass"></i>
      </button>
      <input
        class="search-products"
        type="text"
        placeholder="Encontrar Productos"
      />
    </div>
  </div>

  <nav class="navigation-bar">
    <ul class="left-navbar">
      <li class="home"><a href="/">Home</a></li>
      <li class="login"><a href="/login">Login</a></li>
      <li class="register"><a href="/registro">Regístrate</a></li>
      <li class="car">
        <a href="/carrito"><i class="fas fa-cart-shopping"></i></a>
      </li>
    </ul>
  </nav>
</header>
