<!DOCTYPE html>
<html lang="en">

<%- include('./partials/header.ejs') %>

<body>
  <!-- <header class="main-header">
    <div class="main-header-top-bar">
      <div>
        <img class="logo" src="/images/logo-trend-boutique.svg" alt="Logo Trend Boutique"
          style="width: 150px; height: 100px;">
      </div>
      <div class="search-bar">
        <button class="search-button" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
        <input class="search-products" type="text" placeholder="Encontrar Productos">
      </div>
    </div>
    
    
    <nav class="navigation-bar">
      <ul class="left-navbar">
        <li class="home"><a href="/">Home</a></li>
        <li class="register"><a href="/register">Regístrate</a></li>
        <li class="login"><a href="/login">Login</a></li>
        <li class="login"><a href="/detalle">Detalle</a></li>
        <li class="car"><a href="/"><i class="fas fa-cart-shopping"></i></a></li>
      </ul>
    </nav>

 
</header> -->

  <main>

    <section class="product-shop">

      <div class="product-selected">
        <img class="dress-car" src="/images/pink-dress.jpg" style="width: 200px; height: 300px;">
        <div class="product-details">
        <h1 class="title-productSelected">Vestido Body Rosado Trend Boutique</h1>
        <p class="product-description">Vestido Body de seda Rosado.<br> 
            Para eventos formales y/o especiales,<br>
            collección especial de Trend Boutique.
         </p>
      </div>


      <div class="shipping">
        <h1 class="shipping-title">Opciones de envío</h1>
        <div class="shipping-options"><i class="fa-solid fa-truck-fast"></i><p class="shipping-method">Cuenta con método de envíos</p><br></div>
      </div>

      <div class="price">
        <h1 class="price-title">Precio</h1>
        <p class="total-price">$200 USD</p>
      </div>

      <div class="quantity">
        <h1 class="quantity-title">Cantidad</h1>
        <div class="number-box">
          <span class="number">0</span>
        </div>
        
      </div>

    </section>

  </main>
  <!-- Formulario -->
  <footer>
    <div class="last">
      <form action="/login" class="create-form">
        <div class="control-formulario">
          <h3>Únete a Trend Boutique</h3>
          <div class="input-wrapper">
            <input type="email" name="email" class="control wide-input" placeholder="Email">
            <button type="submit" class="rectangle-button">Let's Go</button>
          </div>
        </div>
      </form>
  
      <section class="last-section">
        <div class="about">
          <h3>Acerca de Trend Boutique</h3>
          <div class="about-trend">
            <p>¿Quiénes somos?</p>
            <p>Trend Boutique Group</p>
          </div>
        </div>
      </section>
  
      <section class="last-section">
        <div class="help">
          <h3>Ayuda y Contácto</h3>
          <div class="help-trend">
            <p>Preguntas Frecuentes</p>
            <p>Teléfono (+57) 3123456789</p>
            <p>Póngase en contacto con el equipo de Trend Boutique: El departamento de atención al cliente está abierto
              para usted de lunes a sábado de 8 a 18 horas.</p>
          </div>
        </div>
      </section>
    </div>

  
    <div class="terminos">
      <p>Términos y condiciones</p>
      <p class="space">|</p>
      <p>Política de Privacidad</p>
      <p class="space">|</p>
      <p>Cookies Settings</p>
      <p class="space">|</p>
  </footer>
</body>

</html>