<!DOCTYPE html>
<html>
<head>
  <title>Detalle</title>
  <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
<main>
  <div class="contenedorProd">
    <div class="fotosProd">
      <div class="fotoPrincipal">

      </div>
      <div class="masFotos">
        <img src="https://www.mileystore.cl/cdn/shop/products/nnsnanss_1200x.png?v=1639417429" alt="">
        <img src="https://www.mileystore.cl/cdn/shop/products/Disenosintitulo.pngddddd_1200x.png?v=1639416516" alt="">
        <img src="https://www.mileystore.cl/cdn/shop/products/assassa_1200x.png?v=1639417427" alt="">
      </div>

    </div>
    <div class="descripcionProd">
      <h3 class="nombreProd">CONJUNTO DEPORTIVO PUSH UP</h3>
      <span class="coddigo">COD002</span>
      <span class="precio">$34.990</span>
      <span class="cuotas">3 cuotas precio contado de</span>
      <span>$1 USD</span>
      <div class="colores">
        <span>Colores:</span>
        <span> rosado amarillo gris</span>
      </div>
      <span class="talla">talla:XL, S, M</span>
      <button>lets go</button>
      <h4>descripcion del producto</h4>
      <p>INCLUYE: CROP + LEGGINS.

        Estos leggins son todo menos sencillos. Incorporan tecnología realzadora de glúteos ¡No solo hace que tu trasero se vea sexy,
        sino que no se mueva cuando haces sentadillas! se encarga del sudor,
        manteniendo tu piel fresca y seca en todo momento. Leggins deportivos de cintura alta Push Up ajustados para correr,
        transpirables y elásticos para que disfrutes cómodamente después de tu entrenamiento diario. Este producto está hecho con poliéster,
        algodón y elastano una serie de materiales de tacto Suave, ligero y de secado rápido 
        - Control Abdomen Faja interna.
        - Costura Push Up.
        - Secado Rapido.
        - Control Celulitis </p>
      <div class="envioPago">
        <div class="entrega"></div>
        <div class="formaPago"></div>
        <div class="devoluciones"></div>
      </div>
    </div>
    <div class="asistenteVirtual">

    </div>

  </div>
</main>
</body>
</html>