<!DOCTYPE html>
<html>
<head>
  <title>Detalle</title>
  <link rel="stylesheet" type="text/css" href="../public/css/stylessDetalle.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet">
</head>
<body>
  <div class="contenedorWa">
    <a class="btnWa" tarjet="_blank" onclick="gtag_report_conversion_wa();" href="https://api.whatsapp.com/send?phone=51946559236&text=Estoy%20interesado%20en%20sus%20productos.">
        <i class="fab fa-whatsapp my-float"></i>
    </a> 
  </div>
  <header class="main-header">
    <div class="main-header-top-bar">
      <div>
        <img class="logo" src="../public/images/logo-trend-boutique.svg" alt="Logo Trend Boutique"
          style="width: 150px; height: 100px;">
      </div>
      <div class="search-bar">
        <button class="search-button" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
        <input class="search-products" type="text" placeholder="Encontrar Productos">
      </div>
    </div>
    
    
    <nav class="navigation-bar">
      <ul class="left-navbar">
        <li class="home"><a href="href=/home">Home</a></li>
        <li class="register"><a href="href=/register">Regístrate</a></li>
        <li class="login"><a href="href=/login">Login</a></li>
        <li class="car"><a href="href=/cart-shopping"><i class="fas fa-cart-shopping"></i></a></li>
      </ul>
    </nav>
</header>
<main>
  <div class="contenedorProd">
    <div class="fotosProd">
          <div class="fotoGrande">
            <img src="https://www.mileystore.cl/cdn/shop/products/nnsnanss_1200x.png?v=1639417429" alt="Foto grande">
          </div>
          <div class="fotosPequenhas">
            <img src="https://www.mileystore.cl/cdn/shop/products/Disenosintitulo.pngddddd_1200x.png?v=1639416516" alt="Foto pequeña 1">
            <img src="https://www.mileystore.cl/cdn/shop/products/assassa_1200x.png?v=1639417427" alt="Foto pequeña 2">
          </div>
        </div>
        </div>

    </div>
    <div class="descripcionProd">
      <h3 class="nombreProd">CONJUNTO DEPORTIVO PUSH UP</h3>
      <span class="codigo">COD002</span>
      <span class="precio">$34.990</span>
      <span class="cuotas">3 cuotas precio contado </span>
      <div class="colores">
        <span>Colores:</span>
        <span> rosado-amarillo-gris</span>
      </div>
      <span class="talla">Talla:XL, S, M</span>
      <br>
      <div class="botones">
        <button class="boton-carrito" type="submit" data-icon="fa-solid fa-cart-shopping">
          <i class="fa-solid fa-cart-shopping"> Agregar al carro </i>
        </button>
        <button class="boton-comprar" type="button" data-icon="fa-solid fa-briefcase">
          <i class="fa-solid fa-briefcase"> Comprar </i> 
        </button>
      </div>
      <br>
      <div class="cajaDescripcion">
      <h3 class="tituloDescripcion">Descripcion del producto</h3>
       <p>
        Leggins deportivos de cintura alta Push Up ajustados para correr,
        transpirables y elásticos para que disfrutes cómodamente después de tu entrenamiento diario. Este producto está hecho con poliéster,
        algodón y elastano una serie de materiales de tacto Suave, ligero y de secado rápido 
        <ul>
        - Control Abdomen Faja interna.
        - Costura Push Up.
        - Secado Rapido.
        - Control Celulitis 
        </ul>
      </p>
      </div> 
      </div>
    </div>
    <div class="asistenteVirtual">

    </div>

  </div>
</main>
<footer>
  <div class="last">
    <form action="/login" class="create-form">
      <div class="control-formulario">
        <h3>Únete a Trend Boutique</h3>
        <div class="input-wrapper">
          <input type="email" name="email" class="control wide-input" placeholder="Email">
          <button type="submit" class="rectangle-button">Let's Go</button>
        </div>
      </div>
    </form>

    <section class="last-section">
      <div class="about">
        <h3>Acerca de Trend Boutique</h3>
        <div class="about-trend">
          <p>¿Quiénes somos?</p>
          <p>Trend Boutique Group</p>
        </div>
      </div>
    </section>

    <section class="last-section">
      <div class="help">
        <h3>Ayuda y Contácto</h3>
        <div class="help-trend">
          <p>Preguntas Frecuentes</p>
          <p>Teléfono (+57) 3123456789</p>
          <p>Póngase en contacto con el equipo de Trend Boutique: El departamento de atención al cliente está abierto
            para usted de lunes a sábado de 8 a 18 horas.</p>
        </div>
      </div>
    </section>
  </div>

  
    <div class="terminos">
      <p>Términos y condiciones</p>
      <p class="space">|</p>
      <p>Política de Privacidad</p>
      <p class="space">|</p>
      <p>Cookies Settings</p>
      <p class="space">|</p>
  </footer>
</body>
</html>