<!DOCTYPE html>
<html>
<head>
  <title>Registro</title>
  <link rel="stylesheet" type="text/css" href="stylesRegistro.css">
</head>
<body>
  <main>
  <h1>Registrate</h1>
  <form id="registroForm">
    <input type="text" placeholder="Nombre" id="nombre"><br>
    <input type="text" placeholder="Apellido" id="apellido"><br>
    <input type="numero o email" placeholder="Numero de celular o correo electrónico" id="numero o correo"><br>
    <input type="password" placeholder="Contraseña" id="contrasena"><br>
    <label for="fechaNacimiento">Fecha de nacimiento:</label>
    <input type="date" id="fechaNacimiento" required><br>
    <h3>sexo</h3>
      <div class="caja">
        <input type="radio" id="hombre" name="sexo" value="hombre" required>
        <label for="hombre">hombre</label>
        <input type="radio" id="mujer" name="sexo" value="mujer" required>
        <label for="mujer">mujer</label>
        <input type="radio" id="personalizado" name="sexo" value="personalizado" required>
        <label for="personalizado">personalizado</label>
      </div><br>
    
    <button type="submit">Registrarse</button>
  </form>
  <script src="script.js"></script>
  </main>
</body>
</html>
