<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/stylesList.css" />
    <title>Lista de Productos</title>
  </head>
  <body>
    <h1>Lista de Productos</h1>
    <div class="listProducts">
      
        <ul>
          <% products.forEach(product => { %>
          <li>
            <h2><%= product.id %> <%= product.name %></h2>
            <img class="imageList"
              src="images/<%= product.image %>"
              alt="Mi Imagen"
              width="400px"
              height="400px"/>
              />
          </li>
          <% }); %>
        </ul>
     
    </div>
  </body>
</html>
